#login-box {
    -fx-border-color: black;
}

.login-title {
    -fx-font-weight: bold;
    -fx-font-size: 44px;
}

.login-label {
    -fx-font-size: 22px;
}

.login-btn {
    -fx-font-size: 18px;
}

.signup-btn {
    -fx-font-size: 16px;
}

.login-error {
    -fx-text-fill: red;
    -fx-font-size: 18px;
    -fx-text-alignment: center;
}


.tabBar {
    -fx-font-size: 24px;
}

.tabBar .button .current {
    -fx-border-color: black;
}

.tabBar .button {

}

.label-l {
    -fx-font-size: 60px;
}

.label-m {
    -fx-font-size: 48px;
}

.label-s {
    -fx-font-size: 20px;
}

.label-xs {
    -fx-font-size: 16px;
}

.imageView {

}

.add-btn {
    -fx-font-size: 20px;
}

.tracks-label {
    -fx-font-size: 28px;
}

.yourMusic-btn {
    -fx-font-size: 28px;
}

